{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="{% static 'style.css' %}">
    <link rel="icon" href="static/projectname/favicon.ico">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <div class="menu_encode">
            <h3 class="menu_encode_EN"><strong>ENCODE</strong></h3>
        </div>
        <div class="menu_encode_bar hidden">
            <ul class="menu_encode_bar_link1">
                <li><a href="http://10.120.74.34:8080/encode/base64/">base64</a></li>
                <li><a href="http://10.120.74.34:8080/encode/MD5/">MD5</a></li>
            </ul>
            <ul class="menu_encode_bar_link2">
                <li><a href="http://10.120.74.34:8080/encode/SHA1/">SHA1</a></li>
                <li><a href="http://10.120.74.34:8080/encode/SHA224/">SHA224</a></li>
                <li><a href="http://10.120.74.34:8080/encode/SHA256/">SHA256</a></li>
                <li><a href="http://10.120.74.34:8080/encode/SHA384/">SHA384</a></li>
                <li><a href="http://10.120.74.34:8080/encode/SHA512/">SHA512</a></li>
            </ul>
        </div>
        <div class="menu_decode">
            <h3 class="menu_decode_DE"><strong>DECODE</strong></h3>
        </div>
        <div class="menu_decode_bar hidden2">
            <ul class="menu_decode_bar_link1">
                <li><a href="http://10.120.74.34:8080/decode/base64/">base64</a></li>
            </ul>
        </div>
    </div>
    {% block content %}

    {% endblock %}


    <div class="butten">
            <h4 class="butten_name">Jaehoon Jeong</h4>
    </div>
</body>
<script src="{% static 'index.js' %}"></script>

</html>